nav {
	background-color: #D4145A;
	padding-top: 10px;
}

body {
	background-color: #252525;
}

h1, p {
	color: white;
}

.conteiner{
padding-bottom: 0px
}

.logo {
	padding-top: 5px;
	padding-left: 5px;
}

footer.page-footer {
	background-color: #D4145A;
}